 


/* SECTION 1 ABOUT ME */

#about,#work,#skill {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: auto;
    top: 0;
    left: 0;
}




#about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin-top: 10px;
  padding: 20px;
  color: rgba(63, 63, 63, 1);
  letter-spacing: 1px;
  padding: 7px;  
}
@media (max-width: 400px) {
  div.section-title-wrap h2{
    font-size: 4rem;
  }
  div.section-title-wrap p{
    font-size: 1rem;
  }
}

.about-h1{
  text-align: center;
}

.about-p span {
  font-family: "Roboto",sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0em;
  padding: 10px; 
}



/*SOCIAL MEDIA ICONS*/

.social-media-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.social-media-icons a{
  transition: all .2s ease-in-out;
  margin: 2rem;
}
.social-media-icons a:hover{
  transform: scale(1.1);
}



/* RESUME BUTTON */
.resume-btn {
  width: 250px;
  height: 70px;
  border: none;
  outline: none;
  margin:10px;
  margin-bottom: 15%;
  padding: 10px;
  border-radius: 10px;
  border:3px solid #FF44CC;
  cursor: pointer;
}

.resume-btn, a {
  text-decoration: none;
  padding-top: 15px;
  color: #000;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-weight: 550;
  letter-spacing: 2px;
}

.resume-btn:hover {
  background-color: #FF44CC;
  color: #ffffff;

}





/* HEADING */
.sub-title {
  position: relative;
  width: 100%;
  display: block;
}
.over-hide{
  overflow: hidden;
}
.primary-color-about,.primary-color-work,.primary-color-skill{
  color: #2BE29C;
}

.padding-top-bottom-big {
  padding-top: 140px;
  padding-bottom: 130px;
}
.padding-top-big {
  padding-top: 160px;
}
.padding-bottom-big {
  padding-bottom: 130px;
}
.padding-top-bottom {
  padding-top: 100px;
  padding-bottom: 80px;
}
.padding-top {
  padding-top: 100px;
}
.padding-bottom {
  padding-bottom: 100px;
}
.section-title-wrap p{
  letter-spacing: 2px;
  font-size: 22px;
  font-weight: 500;
  padding: 0;
}
.section-title-wrap h2{
  margin: 0;
  padding: 0;
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.1;
}
.section-title-wrap-2 h2{
  margin: 0;
  padding: 0;
  font-size: 5rem;
  font-weight: 300;
  line-height: 1.1;
}
.section-title-wrap-3 h2{
  margin: 0;
  padding: 0;
  font-size: 5rem;
  font-weight: 300;
  line-height: 1.1;
}
.section-title-wrap-2 p{
  letter-spacing: 2px;
  font-size: 22px;
  font-weight: 500;
  padding: 0;
}
.section-title-wrap-3 p{
  letter-spacing: 2px;
  font-size: 22px;
  font-weight: 500;
  padding: 0;
}



/*SOCIAL MEDIA ICONS*/

.social-media-icons{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  width: 100%;
}
.social-media-icons img{
  transition: all .2s ease-in-out;
}
.social-media-icons img:hover{
  transform: scale(1.1);
}
.twitter-icon img{
  width: 32px;
  height: 32px;
  margin-right: 2rem;
}
.linkedin-icon img{
  width: 32px;
  height: 32px;
  margin-right: 2rem;

}
.github-icon img{
  width: 32px;
  height: 32px;
}