
/* PORTFOLIO EMOJI */
#portfolio-emoji {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 100%;
  width: 140px;
  height: 140px;
}
@media (max-width:780px){
  #portfolio-emoji{
    width: 100px;
    height: 100px;
    top:30%;
  }
}

.motion-emoji{
width: 9rem;
}
@media (max-width:780px){
  img.motion-emoji{
    width: 6rem;
    
  }
}




/* HEADER TITLE */
::-moz-selection {
  background: #0e0e0e;
  color: #f0f0f0;
}

::selection {
  background: #0e0e0e;
  color: #f0f0f0;
}

.solid {
  padding: 4rem;
  filter: url(#distortionFilter);
  font-size: calc(100vw / 24 * 3);
  color: #0e0e0e;
  font-variation-settings: "wght" 700;
  font-family: 'Poppins', sans-serif;
}
@media (max-width: 800px) {
  .solid {
    font-size: 5rem;
  }
}

svg {
  position: absolute;
  width: 0;
  height: 0;
  left: -9999px;
  pointer-events: none;
}

#banner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
}
.Dev{
  color: #2BE29C;
}



.codepen {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2rem;
  color: #0e0e0e;
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
}

.codepen:last-of-type {
  right: 0;
  left: unset;
}
@media (max-width: 767px) {
  .codepen{
    font-size:13px;
  }
}
@media (max-width: 380px) {
  .codepen{
    font-size:11px;
  }
}


/* WEB SITE TITLE */
.container-txt {
  display: flex;
  font-size:30px;
  font-family: 'Roboto';
  letter-spacing:1.5px;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:700px;
  height:40px;
}

.container-txt {
  display:inline-block;
  overflow:hidden;
  position:absolute;
}

.bar {
  width:3px;
  height:49px;
  position:absolute;
  top:-1px;
}


.text-par {
  color: #c3c3c3;
 font-family: 'Roboto';
 font-weight: 200;
 letter-spacing: 5px;
 font-size: 20px;
 text-align: center;
}
@media (max-width: 767px) {
  div.text-par{
    font-size:1rem;
  }
}
.dud {
  color: #757575;
}
