/* NAVAGATION */
.header-nav {
  display: flex;
  flex-direction: column;
  place-content: center;
  position:fixed;
  left: 5%;
  top: 5%;
  width: 3rem;
  z-index: 3;
}
.activator {
  padding: 10px;
  border-radius: 100%;
  cursor: pointer;
  background-color: #1e2129;
  transition: all.2s ease-in-out;
}
.activator:hover {
  transform: scale(1.3);
}

.navIconList {
  background: #1e2129;
  border-radius: 0 0 5em 5em;
  clip-path: ellipse(50% 50% at 50% -100%);
  max-width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  background-color: #1e2129;

}

.a-icon a{
  display: flex;
  justify-content: space-around;
  height: 75px;
  padding: 0.5em;
  margin: 0 0.5em;
  border-radius: 50%;
  transition: all.2s ease-in-out;
}
.a-icon img{
  width: 2rem;
  height: 3rem;
}
.a-icon:hover {
  transform: scale(1.3);
}



